# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# See: https://github.com/luarocks/lua-style-guide
# Configuration files
[*.json,*.yml,*.yaml,*.toml]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Lua files (matches stylua.toml)
[*.lua]
indent_size = 3

# Ignore special files
[{tmp.*,.*.tmp}]
indent_style = ignore
